* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Left img {
    width: 180px;
    border-radius: 10px;
}

.icon-box {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-box img {
    width: 50px;
    padding: 10px;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

.profliecard {
    padding: 30px;
    background-color: rgb(199, 191, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    backdrop-filter:blur(8px);
}
.Right{
    width: 280px;
    padding-left: 10px;

}
.name{
    font-size: 20px;
    margin-bottom: 10px;
}
.Job{
    font-size: 18px;
    margin-bottom: 30px;
}
.desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1px;
}
